body {
    background: url('../images/cloudy-day.png');
}

img {
    max-height: 150px;
}

form,
.movieBtn {
    background-color: #1E90FF;
    color: white;
}

form {
    padding: 10px;
    font-family: 'Gugi', cursive;
}

#newMovieInput {
    color: black;
}

.ratingStyle {
    color: white;
    background-color: #1E90FF;
}

#addMovie {
    background-color: white;
    color: #1E90FF;
    border: none;
}

input {
    margin: 10px;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#MovieButtons {
    margin: 10px;
    font-family: 'Gugi', cursive;
}

.movieBtn {
    padding: 6px;
    margin: 3px;
}

#giphyLogo {
    margin: 20px;
}